.container {
  position: relative;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 32px;
}

.verticalLine {
  position: absolute;
  inset: 0;
  margin-left: 8px;
  margin-top: 8px;
  border-left: 1px solid var(--primary-line-color);
}

.bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--primary-line-color);
  background-color: hsl(170deg 100% 99%);
}
