@keyframes move-arrow {
  from {
    transform: translateX(4px);
  }
  to {
    transform: translateX(0px);
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: hsl(213deg 100% 43%);
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 2px 4px 8px hsl(213deg 41% 68%);
  filter: brightness(100%);
}

.link:hover {
  filter: brightness(120%);
}

.arrow {
  will-change: transform;
}

.link:hover .arrow {
  animation: move-arrow 500ms ease-in-out;
}
