.card {
  padding: 8px 0;
}

.card:first-of-type {
  padding-top: 16px;
}

.header {
  border-bottom: 2px solid var(--primary-line-color);
  font-weight: 700;
  font-size: 2rem;
}

.content {
  padding: 28px 0;
}
