.wrapper {
  padding-bottom: 48px;
  margin: auto;
}

.header {
  --header-gap: 48px;

  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: var(--header-gap);
  place-content: center;
  padding: 48px;
  padding-top: 20px;
}

.name {
  grid-area: unset;
}

.h1 {
  letter-spacing: 0.2rem;
}

.h4 {
  font-weight: 250;
  letter-spacing: 0.3rem;
}

.pictureWrapper {
  position: relative;
}

.picture {
  border-radius: 50%;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

@keyframes move-arrow {
  from {
    transform: translateX(-4px);
  }
  to {
    transform: translateX(0px);
  }
}

.arrowLink {
  margin: auto;
  position: absolute;
  display: flex;
  align-items: center;
  transform: translateX(calc(-100% - 8px));
  height: 100%;
  padding-right: 12px;
  border-radius: 10000px 9000px;
}

.arrow {
  font-size: 2rem;
  will-change: transform;
}

.arrowLink:hover {
  background-color: hsl(219deg 55% 53% / 0.3);
}
.arrowLink:hover .arrow {
  animation: move-arrow 500ms ease-in-out;
}

.main {
  --padding-x: 72px;
  --padding-y: 48px;

  position: relative;
  color: hsl(170deg 2% 41%);
  margin: 0 auto;
  padding: var(--padding-y) var(--padding-x);
  margin-top: -28px;
  box-shadow: 2px 4px 8px hsl(217, 64%, 71%);
  width: min(1000px, 100%);
  background-color: hsl(170deg 100% 99%);
}

.pdfLink {
  position: absolute;
  display: flex;
  gap: 8px;
  top: var(--padding-y);
  right: var(--padding-x);
}

.pdfLink:hover {
  text-decoration: revert;
}

.pdfLink svg {
  font-size: 1.5rem;
}

.degree {
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (max-width: 1025px) {
  .header {
    --header-gap: 36px;
    grid-template-areas:
      "picture name"
      "contacts contacts";
    grid-template-columns: repeat(3, auto);
    place-content: center;
  }

  .picture {
    grid-area: picture;
  }

  .name {
    grid-area: name;
  }

  .contacts {
    grid-area: contacts;
    flex-direction: revert;
    gap: 16px;
  }

  .main {
    --padding-x: 52px;
    margin-top: 0;
  }

  .wrapper {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .main {
    --padding-x: 24px;
  }

  .contacts {
    display: none;
  }

  .header {
    --header-gap: 0px;

    grid-template-areas:
      "picture"
      "name"
      "contacts";
    grid-template-columns: 1fr;
    padding-top: 24px;
    padding-bottom: 0;
  }

  .pictureWrapper,
  .name {
    margin: 0 auto;
  }

  .h1 {
    font-size: 2rem;
  }

  .arrowLink,
  .h4,
  .pdfLinkCaption {
    display: none;
  }
}
